.body {
  font-family: 'Poppins', sans-serif;
}

.card-wrapper {
  perspective: 1000px;
}

.rotate-card {
  width: 29.7cm; /* Ukuran A4 dalam cm */
  height: 21cm; /* Ukuran A4 dalam cm */
  position: relative;
  transform-style: preserve-3d;
  transition: transform 2s cubic-bezier(0.7, -.5, 0.3, 1.8);
  text-align: center;
  box-shadow: 8px 8px 15px #a3a3a3, -8px -8px 15px #ffffff;
  margin: 0.5vw;
  max-width: 100%;
  max-height: 100vh;   
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
}

.front {
  background-color: white;
}

.back {
  background-color: white;
  transform: rotateY(180deg);
}

.rotate-card:hover {
  transform: rotateY(180deg);
}

/* Button Download */
#btn-download {
  display: flex;
  position: absolute;
  top: 0;
}

/* Styling Gambar */
img.header {
  width: 10cm; /* 25vw ke cm */
  display: block;
  margin: 0 auto;
}

img.elemen-atas, img.elemen-bawah {
  width: 7cm; /* 10vw ke cm */
  position: absolute;
  z-index: 0;
}

img.elemen-atas {
  top: 0;
  left: 0;
}

img.elemen-bawah {
  top: 0;
  right: 0;
  transform: rotateY(180deg);
}

/* Text Centering */
h1, h2, h5 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 40pt; /* 4vw ke pt (1cm = 28.35pt) */
  font-family: 'Arimo', sans-serif;
}

h2 {
  font-size: 22pt; /* 2.1vw ke pt */
  font-family: 'Arimo', sans-serif;
}

h5 {
  font-size: 15pt; /* 1.3vw ke pt */
}

/* Specific Margins for Certain Text */
.diberikan, .name-sertifikat, .sebagai, .jabatan-sertifikat {
  margin-top: 0.5cm;
}

.name-sertifikat {
  font-size: 25pt; /* 2.2vw ke pt */
  font-family: 'Arimo', sans-serif;
  font-weight: 700;
}

/* Certificate Details */
.details, .tanggal {
  font-size: 15pt; /* 1.3vw ke pt */
  margin-top: 0.5cm;
  padding: 0 1cm;
  text-align: center;
}

/* Signature Table */
.signature-table {
  margin-top: 0.2cm;
  width: 100%;
  text-align: center;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  z-index: 2;
}

.signature-table th, .signature-table td {
  font-size: 15pt; /* 1.3vw ke pt */
  padding: 0;
  margin: 0;
}

img.ttd-anang, img.ttd-nurdin {
  height: 2.54cm; /* 8vw ke cm */
}

/* QR Code Styling */
#qrcode {
  z-index: 3;
  position: absolute;
  right: 3cm; /* Anda dapat mengonversi ini ke cm juga jika diinginkan */
  top: 3cm; /* Anda dapat mengonversi ini ke cm juga jika diinginkan */
}

#qrcode img {
  width: 3cm;

}

/* Back Card Table */
.data-sertifikat {
  font-size: 15pt; /* 1.3vw ke pt */
  width: 26cm; /* 70vw ke cm */
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #333;
  z-index: 5;
}

.data-sertifikat th, .data-sertifikat td {
  line-height: 1;
  padding: 0.4rem;
}

/* CSS khusus untuk PDF */
@media print {
  .front, .back {
    width: 29.7cm; /* A4 landscape width */
    height: 21cm; /* A4 landscape height */
    position: relative;
    backface-visibility: visible;
    transform: rotateY(180deg);
    margin: 0;
    padding: 0;
    page-break-after: always;
  }

  .back {
    page-break-before: always;
  }

  .body {
    margin: 0;
    padding: 0;
  }

  #btn-download {
    visibility: hidden;
  }
}

